@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Nunito Sans", sans-serif;
}
body {
    background-color: #CBCBCD;
}

#sq {
    z-index: 50;
    width: 40vw;
    height: 100vw;
    background-color: #6311A8;
    position: fixed;
    top: 0%;
    left: 0%;
}

#cir {
    width: 300px;
    height: 300px;
    background-color: #6311A8;
    position: absolute;
    top: 20vh;
    right: -150px;
    border-radius: 100%;
}

#topText {
    width: 320px;
    height: 40px;
    position: fixed;
    top: 30%;
    left: 22%;
    color: black;
    font-size: 30px;
    overflow: hidden;
    >.cirTop {
        text-wrap: nowrap;
        position: absolute;
        top: -38px;
    }
    >.cirTop.stay {
        top: 0px;
    }
}
#midText {
    width: 370px;
    height: 80px;
    position: fixed;
    top: calc( 30% + 45px);
    left: 22%;
    text-align: center;
    color: black;
    font-size: 30px;
    overflow: hidden;

    >.cirMid {
        font-weight: 700;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-wrap: nowrap;
        font-size: 60px;
        position: absolute;
        top: -82px;
    }
    >.cirMid.stay {
        top: 0px;
        font-size: 49px;
    }
}

#botText {
    width: 270px;
    height: 40px;
    position: fixed;
    top: calc( 30% + 120px);
    left: 30%;
    text-align: center;
    color: black;
    font-size: 30px;
    overflow: hidden;
    >.cirBot {
        position: absolute;
        top: -38px;
        text-wrap: nowrap;
    }
    >.cirBot.stay {
        top: 0px;
    }
}

#rightCard {
    width: 310px;
    height: 90px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 5%;
    >.rightCardFill {
        position: absolute;
        top: -90px;
        text-wrap: nowrap;
        >img{
            height:90px;
        }
    }
    >.rightCardFill.stay {
        top: 0px;
    }
}
#rightBigText {
    width: 310px;
    height: 80px;
    font-size: 60px;
    font-weight: 700;
    overflow: hidden;
    position: fixed;
    top: calc(50% + 95px);
    left: 5%;
    >.rightBigTextFill {
        position: absolute;
        top: -90px;
        text-wrap: nowrap;
    }
    >.rightBigTextFill.stay {
        top: 0px;
    }
}
#rightSmallText {
    width: 250px;
    height: 90px;
    font-size: 20px;
    overflow: hidden;
    position: fixed;
    top: calc(50% + 180px);
    left: 5%;
    >.rightSmallTextFill {
        position: absolute;
        top: -90px;
    }
    >.rightSmallTextFill.stay {
        top: 0px;
    }
}
#rightBottomText {
    width: 200px;
    height: 40px;
    font-size: 20px;
    opacity: 0.5;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 5%;
    >.rightBottomTextFill {
        position: absolute;
        top: -90px;
    }
    >.rightBottomTextFill.stay {
        top: 0px;
    }
}
#topImgOne {
    z-index: 5;
    width: 500px;
    height: 500px;
    font-size: 20px;
    position: fixed;
    top: -100vh;
    left: 50%;
    >.topImgOneFill {
        position: absolute;
        >#pizzaBox{
            position: absolute;
            transform: translateX(-40%);
        }
        >#tioSocial{
            position: absolute;
            top: -10vh;
            height: 400px;
            transform: translateX(-10%);
        }
        >#tioInterior{
            position: absolute;
            height: 500px;
            transform: translateX(-22%);
        }
    }
}

#topImgTwo {
    z-index: 10;
    width: 500px;
    height: 500px;
    font-size: 20px;
    position: fixed;
    top: -200vh;
    left: 70%;
    >.topImgTwoFill {
        position: absolute;
        >img#veme{
            position: absolute;
            top:90vh;
            height: 450px;
            transform: translateX(calc(70% - 150px));
        }
        >img#veme2{
            position: absolute;
            top:110vh;
            height: 450px;
            transform: translateX(10%);
        }
        >img#breadTop{
            position: absolute;
            top:85vh;
            height: 250px;
            transform: translateX(150%);
        }
        >img#veme3{
            position: absolute;
            top:97vh;
            height: 420px;
            transform: translateX(-40%);
        }
    }
    >.topImgTwoFill.stay {
        position: absolute;
        top: 215vh;
        >img{
            height: 500px;
        }
    }
}

#bottomImgOne {
    z-index: 10;
    width: 500px;
    height: 500px;
    font-size: 20px;
    position: fixed;
    top: 200vh;
    left: 70%;
    >.bottomImgOneFill {
        position: absolute;
        >#nexgtv2{
            position: absolute;
            top: -50vh;
            height: 500px;
            transform: translateX(-90%);
        }
        >#nexgtv3{
            position: absolute;
            top: -80vh;
            height: 500px;
            transform: translateX(-90%);
        }
        >#nexgtv4{
            position: absolute;
            top: -42vh;
            height: 400px;
            transform: translateX(-120%);
        }
        >#mobScreen1{
            position: absolute;
            top: -37vh;
            height: 400px;
            transform: translateX(0%);
        }
        >#mobScreen2{
            position: absolute;
            top: -60vh;
            height: 400px;
            transform: translateX(110%);
        }
        >#nexgtv5{
            position: absolute;
            top: -100vh;
            height: 810px;
            transform: translateX(-50%);
        }
        >#ea1{
            position: absolute;
            top: -60vh;
            height: 550px;
            transform: translateX(40%);
        }
        >#ea2{
            position: absolute;
            top: -55vh;
            height: 550px;
            transform: translateX(-45%);
        }
        >#breadDown{
            position: absolute;
            top: -40vh;
            height: 300px;
            transform: translateX(10%);
        }
        >#masalaDown{
            position: absolute;
            top: -42vh;
            height: 200px;
            transform: translateX(-20%);
        }
    }
    >.bottomImgOneFill.stay {
        position: absolute;
        top:15vh;
        >#nexgtv{
            position: absolute;
            top: -200vh;
            height: 500px;
            transform: translateX(-90%);
        }
    }
}

#circleWithDots {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
}

.blueCir {
    visibility: hidden;
}

#skip{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 10px;
    position: fixed;
    bottom: 2%;
    left: 34%;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
#mob{
    display: none;
}

#web,.partition {
    display: block;
}

@media only screen and (max-width: 999px) {
    #web,.partition {
        display: none;
    }
    #mob{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100svh;
        width: 100vw;
        background-color: #000;
        >.swiper{
            top: 0;
            left: 0;
            height: 100svh;
            width: 100vw;
            background-color: #555;
            >.swiper-wrapper .swiper-slide{
                background-color: #222;
                position: relative;
            }
            >.swiper-wrapper .swiper-slide .box{
                position: absolute;
                bottom: 0;
                background-color: #666;
                width: 100vw;
                height: 45svh;
                padding: 5%;
                display:flex ;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                > img{
                    width: 220px ;
                }
                >.title{
                    font-size: 50px;
                }
                >.desc{
                    width: 300px;
                }
                >.vcs{
                    font-size: 25px;
                    >span{
                        opacity: 0.5;
                    }
                    >.btn{
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}
#oneImgArr{
    position: relative;
    >img:nth-child(2n-1){
        position: absolute;
        left: 50%;
        width: 250px;
    }
    >img:nth-child(2n){
        width: 250px;
        position: absolute;
        right: 50%;
    }
}
#twoImgArr{
    position: relative;
    >img:nth-child(2n-1){
        position: absolute;
        left: 50%;
        width: 200px;
        top: -100px;
    }
    >img:nth-child(2n){
        position: absolute;
        width: 200px;
        top: 100px;
        right: 50%;
    }
}
#sevenImgArr{
    position: relative;
    >img:nth-child(2n-1){
        position: absolute;
        left: 50%;
        width: 200px;
        top: 50px;
    }
    >img:nth-child(2n){
        position: absolute;
        width: 220px;
        top: 100px;
        right: 50%;
    }
}
#fourImgArr{
    position: relative;
    >#pizza_box{
        position: absolute;
        left: 0%;
        width: 200px;
        top: 0;
    }
    >#bread1{
        position: absolute;
        right: 0px;
        width: 200px;
        top: -150px;
    }
    >#bread2{
        position: absolute;
        width: 200px;
        top: 300px;
    }
    >#masala{
        position: absolute;
        right: -50px;
        width: 150px;
        top: 150px;
    }
    >#mob1{
        position: absolute;
        right: -50px;
        width: 150px;
        top: 170px;
    }
    >#mob2{
        z-index: -1;
        position: absolute;
        right: 50%;
        width: 150px;
        top: 80px;
    }
    >img:nth-child(2n-1){
        position: absolute;
        left: 50%;
        width: 200px;
        top: 50px;
    }
    >img:nth-child(2n){
        position: absolute;
        width: 220px;
        top: 100px;
        right: 50%;
    }
}
#fiveImgArr{
    position: relative;
    >#sMob1{
        position: absolute;
        width:180px;
        right: -60px;
        top: 100px;
    }
    >#sMob2{
        position: absolute;
        width:180px;
        right: 25%;
        top: 270px;
    }
    >#sMob3{
        position: absolute;
        width:180px;
        left: 5%;
        top: -100px;
    }
    >#sMob4{
        position: absolute;
        width:180px;
        left: 5%;
        top: 235px;
    }
    >#sMob5{
        position: absolute;
        width:180px;
        right: 25%;
        top: -70px;
    }
}
#sixImgArr{
    position: relative;
    >#sixMobBox1{
        position: absolute;
        width:100vw;
        right: 0;
        top: -40px;
    }
    >#sixMobBox2{
        z-index: -1;
        position: absolute;
        width:100vw;
        right: 0;
        top: 150px;
    }
}
.swiper-pagination-bullet {
    background-color: white !important; 
}